@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #5170ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../imagens/RSTAR\ CONECT-baixo.png) center left/cover no-repeat fixed; 
    /* width: 100vw;
    height: 100vh; */
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: #5170ff;
    width: 80vw;  
    
}
article > div#img{
    background: transparent url(../imagens/logo-rstar-pq-final-png.png) center center/contain no-repeat fixed;
    height: 70px;
    display: block;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
article > div#login{
    display: block;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.397);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    height: 450px;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
article h1{
    text-align: center;
    font-size: 1.8em;
    padding: 4px;
}
article p,div{
    text-align: center;
    padding: 7px;
    font-size: 0.9em
}
article div.esq,p.esq{
    text-align: left;
}
article label.tags{
    background-color: #5170ff;
    color: white;
    padding: 7px;
    border-radius: 5px;
    display: block;
    width: 60px;
    text-align: center;
    margin: 5px;
    margin-left: 7px;
}
article input{
    display: inline-block;
    margin: auto;
    background-color: #d4d4d4;
    border: 2px solid #5170ff;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
}
article input[type=submit]{ /* poderia usar input#entrar ja que dei um id*/
    text-align: center;
    margin: auto;
    background-color: #5170ff;
    width: 80%;
    height: 40px;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}
article input[type=submit]:hover{
    background-color: rgb(32, 60, 185);
}
article p a{
    color: #5170ff;
    font-weight: bold;
    font-size: 1.1em;
}
article p a:hover{
    color: rgb(32, 60, 185);
}    
