@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: #5170ff;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(../imagens/RSTAR\ CONECT-baixo.png) center left/cover no-repeat fixed; */
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
#logo{
    margin: auto;
    display: block;
    width: 200px;
    
}
main{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
}
article{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #5170ff;
    width: 80vw;
}
div#img{
    background-color: transparent;
    padding: 10px;
}
div#login{
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.397);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    height: 530px;
}
article h1{
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
article p{
    text-align: center;
    padding: 10px;
}
article p.esq{
    text-align: left;
}
article label.tags{
    background-color: #5170ff;
    color: white;
    padding: 7px;
    border-radius: 5px;
    display: block;
    width: 60px;
    text-align: center;
    margin: 5px;
    margin-left: 7px;
}
article input{
    display: inline-block;
    margin: auto;
    background-color: #d4d4d4;
    border: 2px solid #5170ff;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
}
article input#entrar{
    text-align: center;
    margin: auto;
    background-color: #5170ff;
    width: 80%;
    height: 50px;
    border: none;
    color: white;
    font-size: 1.7em;
    cursor: pointer;
}
article p a{
    color: #5170ff;
    font-weight: bold;
    font-size: 1.1em;
}    