@charset "UFT-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
   
    article > div#login{
        width: 400px;
    }
    article h1{
        font-size: 2em;
    }
    article p{
        font-size: 1em;
    }
    article input#entrar{
        width: 60%;
    }
}
@media screen and (min-width: 992px) {
   
    article{
        width: 80vw;
    }
    article > div#img{
        background: url(../imagens/logo-rstar-png.final.png) center center/contain no-repeat fixed;
        height: 30%;
        float: left;
    }
    article > div#login{
        width: 400px;
        float: right;
    }
    article input#entrar{
        width: 60%;
    }
}