@charset "UFT-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    artivle > div#img{
        height: 100px;
    }
    article > div#login{
        width: 50vw;
    }
    article h1{
        font-size: 2em;
    }
    article p{
        font-size: 1em;
    }
    article input#entrar{
        width: 60%;
    }
}
@media screen and (min-width: 992px) {
   
    article{
        width: 950px;
    }
    article h1{
        font-size: 2em;
    }
    article p{
        font-size: 1em;
    }
    article > div#img{
        background: url(../imagens/logo-rstar-png.final.png) center center/contain no-repeat fixed;
        height: 450px;
        width: 50%;
        float: left;
    }
    article > div#login{
        width: 50%;
        float: right;
    }
    article input#entrar{
        width: 60%;
    }
}